@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Karla", sans-serif;
}

body {
  background: #121212;
  user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
